<% include ../includes/header.ejs %>
<article class="container theme-container" style="margin-top:80px">
    <div class="row">
        <!-- Posts Start -->
        <aside class="col-md-8 col-sm-8 space-bottom-20" id="profile_container">
            <div class="title-wrap  text-center space-bottom-25">
                <h2 class="section-title with-border">
                    <span class="white-bg">
                        <span class="funky-font pink-tag">Hesabım</span>
                        <span class="italic-font"></span>
                    </span>
                </h2>
            </div>
            <div class="account-details-wrap">
                <div class="title-2 sub-title-small">  HESABIM</div>
                <div class="account-box  light-bg default-box-shadow">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" onclick="$('#account_edit').click()">Hesabımı Düzenle</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="$('#change_password').click()">Şifre Değiştir</a>
                        </li>

                    </ul>
                </div>
                <div class="title-2 sub-title-small"> SİPARİŞ </div>
                <div class="account-box  light-bg default-box-shadow">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" onclick="$('#orders').click()">Siparişler</a>
                        </li>

                    </ul>
                </div>


            </div>
        </aside>
        <!-- Posts Ends -->

        <!-- Sidebar Start -->
        <% include ./inc/sidebar.ejs %>
        <!-- / Sidebar Ends -->
    </div>
</article>
<% include ../includes/footer.ejs %>
