<div class="header-cart col-md-3  col-sm-4" id="shopping-cart">
     <div class="cart-wrapper" >
         <a href="javascript:void(0)" class="btn cart-btn default-btn" style="background-color:rgba(80, 198, 255, 0.7);">
             <i class="fa fa-shopping-cart "></i>
             <span><b> sepet: </b></span>
             <span class="blue-color">
               <strong style="color:#000;"> <% if(sesCart){ %> <%=sesCart.length %> <%} else{ %> 0 <%} %> </strong>
             </span>
             <span class="fa fa-caret-down"></span>
         </a>
     </div>
     <div class="cart-dropdown bg2-with-mask" style="border: 1px solid #bfbfbf; border-radius: 5px;">
         <span class="blue-color-mask blue-box-shadow color-mask-radius"></span>
         <div class="pos-relative">
             <table class="cart-table">
                 <tbody id="cartBody">
                 <%if(sesCart){ %>
                 <% var total = 0 %>
                 <% sesCart.forEach(function(item) { %>
                 <% total += item.price * item.quantity %>
                 <tr>
                     <td>
                         <div class="product-media">
                             <a href="urun/<%= item.slug %>-<%= item.id %>">  <img src="<%= item.img %>" alt="<%= item.name %>"></a>
                         </div>
                     </td>
                     <td>
                         <div class="product-content" style="background-color:;">
                             <div class="product-name">
                                 <a href="#"><%= item.name %> <%=item.option%></a>
                                 <span>  </span>
                             </div>
                             <div class="product-price">
                                 <h5 class="price"><b style="color:#000;"> <%=item.price %> <%-siteSettings.settings_currency %> x <%= item.quantity %></b></h5>
                                 <a href="/remove-from-cart/<%=item.id%>" class="delete fa fa-close">  </a>
                             </div>
                         </div>
                     </td>
                 </tr>
                 <% }) %>
                 </tbody>
                 <tfoot>
                 <tr>
                     <td>
                         <div class="sub-total">
                             <span class="title">Toplam:</span>
                             <span class="amount"> <b> <%=total.toFixed(2) %> <%-siteSettings.settings_currency %> </b> </span>
                         </div>
                     </td>
                 </tr>
                 </tfoot>
                 <% } %>
             </table>
             <div class="chk-out">
                 <a href="/sepet" class="btn default-btn">ALIŞVERİŞİ TAMAMLA</a>
             </div>
         </div>
     </div>
 </div>
