<% pages = siteSettings.pages;%>
  <footer class="footer">
    <div class="footer-support-image" >
        <a href="javascript:void(0)"><img src="themes/bebefan/assets/img/destek.png" alt="bebefan" style="margin-left: auto; margin-right: auto; display: block;"/></a>
    </div>
      <div class="bg2-with-mask space-35" style="background-image:url(https://www.darboysanitary.com/wp-content/uploads/2016/08/background-cloud.jpg);  background-repeat:repeat-x;">
          <span class="black-mask color-mask"></span>
          <div class="container theme-container">

              <div class="row space-top-35">

                  <aside class="col-md-3 col-sm-6">
                      <div class="footer-widget space-bottom-35">
                          <h3 class="footer-widget-title"> <i class="fa fa-phone-square blue-color"></i>  İLETİŞİM BİLGİLERİ </h3>
                          <p class="textwidget"> <%= siteSettings.name %>  </p>
                          <div class="address">
                              <ul>

                                  <li> <i class="fa fa-phone blue-color"></i> <span> <%= companyInfo.phone %> </span> </li>
                                  <li> <i class="fa fa-envelope blue-color"></i> <a href="mailto:<%= companyInfo.email %>"> <span> <%= companyInfo.email %> </span> </a></li>
                                  <li> <i class="fa fa-map-marker blue-color"></i>
                                      <span>
                                      YENİMAHALLE 5114-4 SOKAK 34-A
                                      ÇAYIROVA - KOCAELİ</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="social-icon">
                              <ul>
                                  <li> <a href="https://www.facebook.com/bebefancom/" target="_blank"> <img style="width:40px; height:34px;" src="themes/bebefan/assets/ico/003-facebook.svg"/> </a> </li>
                                  <li> <a href="https://www.instagram.com/ebebefan/" target="_blank"> <img style="width:40px; height:34px;" src="themes/bebefan/assets/ico/002-instagram.svg"/>  </a> </li>
                                  <li> <a href="https://www.instagram.com/ebebefan/" target="_blank"> <img style="width:40px; height:34px;" src="themes/bebefan/assets/ico/004-google-plus.svg"/>  </a> </li>
                              </ul>
                          </div>
                      </div>
                  </aside>
                  <aside class="col-md-3 col-sm-6">
                      <div class="footer-widget space-bottom-35">
                          <h3 class="footer-widget-title"> <i class="fa fa-user pink-color"></i>HESABIM  </h3>
                          <ul>
                              <li> <a href="#login-register" data-toggle="modal" > <i class="fa fa-angle-right pink-color"></i>  Hesabım</a> </li>
                              <li> <a href="#login-register" data-toggle="modal" > <i class="fa fa-angle-right pink-color"></i>  Hesap bilgilerim</a></li>
                              <li> <a href="#login-register" data-toggle="modal" > <i class="fa fa-angle-right pink-color"></i>  Satın alma geçmişim</a> </li>
                          </ul>
                      </div>
                  </aside>

                  <aside class="col-md-3 col-sm-6">
                      <div class="footer-widget space-bottom-35">
                          <h3 class="footer-widget-title"> <i class="fa fa-info-circle golden-color"></i> BİLGİ </h3>
                          <div class="recent-post">
                              <ul>
                                  <% pages.forEach(function(page){ if(page.type==1){%>

                                  <li><a href="/sayfa/<%=page.slug%>"><i class="fa fa-angle-right golden-color"></i> <%=page.name%></a></li>
                                  <%}})%>

                              </ul>
                          </div>
                      </div>
                  </aside>

                  <aside class="col-md-3 col-sm-6">
                      <div class="footer-widget space-bottom-35">
                          <h3 class="footer-widget-title"> <i class="fa fa-facebook-square golden-color"></i> Facebook </h3>
                          <div class="recent-post">
                            <div class="fb-page" data-href="https://www.facebook.com/bebefancom/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Bebefan-1998390760376341/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Bebefan-1998390760376341/">Film Takvimi</a></blockquote></div>
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = 'https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.11&appId=1240823212600878';
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                          </div>
                      </div>
                  </aside>
              </div>
          </div>
      </div>
      <div class="bg2-with-mask space-20 footer-meta">
          <span class="black-mask color-mask"></span>
          <div class="container theme-container">
              <div class="row">
                  <aside class="col-md-6 col-sm-6 copy-rights">
                      <P> © Copyright 2017 by <a href="{{url('/')}}" class="blue-color"> bebefan.com </a></P>
                  </aside>
                  <aside class="col-md-6 col-sm-6 payment-options">
                      <ul>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc "></i> </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc-visa"></i> </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc-mastercard"></i> </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc-paypal"></i> </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc-amex"></i> </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-cc-discover"></i> </a> </li>
                      </ul>
                  </aside>
              </div>
          </div>
      </div>

  </footer>
  <div id="to-top" class="to-top" style="background-color:#FFF;">
    <img src="http://www.internetduragi.com/wp-content/uploads/2011/12/emzik.jpg"/>
  </div>


        <!-- Newsletter Popup-->
<!--<div class="subscribe-me light-bg">-->
<!--<a href="#close" class="sb-close-btn close fa fa-times"></a>-->
<!--<div class="popup-newsletter">-->
    <!--<div class="block-content col-md-7">-->
        <!--<div class="title-wrap">-->
            <!--<h2 class="section-title">-->
						<!--<span>-->
							<!--<span class="funky-font blue-tag">Hoşgeldiniz</span>-->
							<!--<span class="italic-font"><%= companyInfo.name %></span>-->
						<!--</span>-->
            <!--</h2>-->
            <!--<h3 class="sub-title-small">Bültenlerimizden haberdar olun</h3>-->
            <!--<hr class="dash-divider-small">-->
        <!--</div>-->
        <!--<span class="sub-title">sonraki satın alma işleminizde %25 indirim !</span>-->
        <!--<div class="newsletter-form">-->
            <!--<form class="newsletter">-->
                <!--<div class="form-group col-sm-8 no-padding">-->
                    <!--<label class="sr-only">E-Posta adresiniz</label>-->
                    <!--<input type="text" class="form-control" placeholder="Enter your e-mail">-->
                <!--</div>-->
                <!--<div class="form-group col-sm-3 no-padding">-->
                    <!--<button type="submit" class="blue-btn submit-btn btn">Kaydet</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

        <!--<label class="checkbox-inline"><input type="checkbox"><span>bu pencereyi bir daha gösterme !</span></label>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
        <!-- / Newsletter -->


        <!-- Popup: Login Register -->
  <div class="modal fade login-register" id="login-register" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="modal-content light-bg">
            <div class="col-sm-12 col-md-12">
                <div class="title-wrap">
                    <h2 class="section-title">
    							<span>
    								<span class="funky-font blue-tag">BEBEFAN</span>
    								<span class="italic-font">bebek ve çocuk mağazası</span>
    							</span>
                    </h2>
                    <center><h3 class="sub-title">GİRİŞ YAP YADA KAYIT OL</h3></center>
                    <hr class="dash-divider-small">
                </div>

            </div>
            <div class="col-sm-6 col-md-5">
                <div class="login-wrap">
                    <h2 class="title-2 sub-title-small">GİRİŞ YAP</h2>
                    <form method="post" action="/login">

                        <div class="form-group">
                            <input name="email" type="text" placeholder="E-posta adresiniz" class="form-control" value="" autocomplete="off" required />
                            <i class="blue-color fa fa-user"></i>

                        </div>
                        <div class="form-actions form-group">
                            <input name="password" type="password" placeholder="Parolanız" class="form-control" autocomplete="off" required />
                            <i class="pink-color fa  fa-unlock-alt"></i>
                        </div>
                        <div class="form-group">
                            <label class="chk-box">
                                <input type="checkbox" id="remember" name="optradio" value="1" {{ old('remember') ? 'checked' : '' }}>oturumu açık tut</label>
                            <label class="forgot-pwd">
                                <a href="" class="blue-color title-link">Parolamı unuttum?</a>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="blue-btn btn">Giriş Yap</button>
                        </div>


                    </form>
                </div>
                <div class="form-group">
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                </div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.11&appId=1240823212600878';
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="register-wrap">
                    <h2 class="title-2 sub-title-small">Üye ol</h2>
                    <form method="post" action="/register">
                        <div class="form-group col-md-6 col-sm-6">
                            <input name="name" type="text" placeholder="İsim" class="form-control" value="" required autocomplete="off"/>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <input name="surname" type="text" placeholder="Soyisim" class="form-control" value="" required autocomplete="off"/>
                        </div>
                        <div class="form-group ol-md-12 col-sm-12">
                            <input name="phone" type="text" placeholder="Telefon" class="form-control" value="" required autocomplete="off" />
                        </div>
                        <div class="form-group col-md-12 col-sm-12">
                            <input name="email" type="text" placeholder="E-posta adresiniz" class="form-control" value="" required autocomplete="off" />
                        </div>

                        <div class="form-actions form-group col-md-12 col-sm-12">
                            <input name="password" type="password" placeholder="Parolanız" class="form-control" required autocomplete="off"/>
                        </div>

                        <div class="form-actions form-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="1" required>
                              <span>Üyelik <a href="#sozlesme">sözleşmesini</a> kabul ediyorum. </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="blue-btn btn">Hesap Oluştur</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
  </div>


</main>
        <!-- /WRAPPER -->
        <!-- JS Global -->

        <script>
        var year = document.getElementById('year').value;
        var month = document.getElementById('month').value;
        var day = document.getElementById('day').value;
        </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>
<script src="themes/bebefan/assets/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="themes/bebefan/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="themes/bebefan/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="themes/bebefan/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

<script src="themes/bebefan/assets/js/jquery.subscribe-better.js"></script>

        <!-- JS Page Level -->
<script src="themes/bebefan/assets/js/moment-with-locales.min.js"></script>
<script src="themes/bebefan/assets/plugins/countdown/jquery.plugin.min.js"></script>
<script src="themes/bebefan/assets/plugins/countdown/jquery.countdown.min.js"></script>
<script src="themes/bebefan/assets/js/theme.js"></script>
<script src="themes/bebefan/assets/js/jquery.slimscroll.js"></script>
<script src="themes/bebefan/assets/js/cart.js"></script>
<script src="themes/bebefan/assets/js/pages.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114789107-1"></script>
<script type="text/javascript">
$('#zoom_01').elevateZoom({
zoomType: "inner",
cursor: "crosshair",
zoomWindowFadeIn: 500,
zoomWindowFadeOut: 750
}); 

  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3400
    })
  });
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114789107-1');
</script>


<%- toasts %>


  </body>

</html>
