<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bebeğiniz sizin için sizler bizim için değerlisiniz! | bebefan.com</title>
    <meta name="keywords" content="">
    <meta name="description" content="Bebeğiniz sizin için sizler bizim için değerlisiniz!">
    <base href="http://node.lapia.net/">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/themes/bebefan/assets/ico/favicon.ico">

    <!-- CSS Global -->
    <link href="themes/bebefan/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/css/subscribe-better.css" rel="stylesheet" type="text/css">
    <link href="themes/bebefan/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="themes/bebefan/assets/plugins/jquery/jquery-1.11.3.min.js"></script>

    <script src="themes/bebefan/assets/plugins/elevatezoom/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="themes/bebefan/assets/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <style>
    .container{
      margin: 5px ;

      width:auto;
    }
    </style>

</head>

<body id="home" class="wide">

<!--@php-->
<!--$menus = collect($menus['menus'])->sortBy('align')->toArray();-->
<!--$children = [];-->
<!--foreach ($menus as $index => $menu){-->
<!--if($menu['child'] != 0){-->
<!--array_push($children,$menu);-->
<!--unset($menus[$index]);-->
<!--}-->
<!--}-->
<!--foreach($menus as $index => $menu){-->
<!--foreach($children as $child){-->
<!--if($child['child'] == $menu['id']){-->
<!--$menu['hasChild'] = 1;-->
<!--$menus[$index] = $menu;-->
<!--}-->
<!--}-->
<!--}-->
<!--@endphp-->

<% siteSettings = JSON.parse(siteSettings);  %>
<% siteCategories = JSON.parse(siteCategories);  %>
<% companyInfo = JSON.parse(companyInfo); %>
<% var addresses = siteSettings.addresses;%>

<main class="wrapper" ng-controller="homeController">
<header class="light-bg" style="background-image:url(themes/bebefan/assets/img/bg.png); background-repeat:repeat-x;">
   <!-- Header top bar starts-->
   <section class="top-bar">
       <div class="bg-with-mask box-shadow">
           <span class=" color-mask"></span>
           <div class="container theme-container">
               <nav class="navbar navbar-default top-navbar">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="visible-xs logo" href="#"> <img src="<%= siteSettings.logo %>" alt="bebefan"> </a>
                   </div>
                   <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                           <!--
                           <li><a href="#" style="color:#000;"> <span class="fa fa-heart"></span> Beğendiklerim</a></li>
                           <li><a href="#" style="color:#000;"> <span class="fa fa-random"></span> Karşılaştırma</a></li>
                         -->


                       </ul>
                       <ul class="nav navbar-nav pull-right">

                           <li><a href="/" style="color:#000;">Ana Sayfa</a></li>
                          <% if(sesUser) { %>
                            <li><a href="/profil" data-toggle="modal" style="color:#000;">Hoşgeldin, <%= sesUser.name %></a></li>
                            <li><a href="/logout" style="color:#000;">Çıkış</a></li>
                            <% } else{ %>
                           <li><a href="#login-register" data-toggle="modal" style="color:#000;">Kayıt/Giriş</a></li>
                           <% } %>

                       </ul>
                   </div>
               </nav>
           </div>
       </div>
       <!-- <img src="themes/bebefan/assets/img/pattern/ziz-zag.png" class="blue-zig-zag" alt=".."> -->
   </section>
   <!-- /Header top bar ends -->
   <section class="">
       <article class="header-middle" style="padding:5px 0;">
         <div class="logo hidden-xs col-md-4  col-sm-4">
             <a href="/"><img src="<%= siteSettings.logo %>" alt="bebefan" style="height: 150px;width: 400px; margin-top:-50px;"/></a>
         </div>
           <div class="container theme-container ">
               <!-- Logo -->

               <!-- /Logo -->

               <!-- Header search -->
               <div class="header-search col-md-5  col-sm-4">
                 <form action="/arama" method="post" class="search-form">
                     <div class="no-padding col-sm-12 search-cat">
                         <label>
                             <span class="screen-reader-text">Arama yap:</span>
                             <input type="search" title="Arama:" name="q" value="" placeholder="Site içi arama" class="search-field" min="3" required>
                         </label>
                         <input type="submit" value="Arama" class="search-submit">
                     </div>
                 </form>
               </div>
               <!-- /Header search -->

               <!-- Header shopping cart -->
                <% include cart.ejs %>
               <!-- Header shopping cart -->

           </div>
       </article>



       <article class="header-navigation">
          <nav class="navbar navbar-default product-menu">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#product-menu" >
                      <span class="sr-only">MENÜ</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <span class="mobil-menu-text"><b  style="float:right; margin-top:5px;"> MENÜ </b></span>
              </div>
              <div class="collapse navbar-collapse no-padding" id="product-menu">
                  <ul class="nav navbar-nav" style="background-color:#0077cc;">
                     <% siteMenus = JSON.parse(siteMenus); %>
                     <% siteMenus.forEach(function(menu){ %>
                       <% if(menu.child == 0){ %>
                      <li class="dropdown mega-dropdown">
                          <a id="menu-hover-a" href="<%if(menu.childs.length){ %>javascript:void(0) <% }else{ %> kategori/<%= menu.slug %> <% } %>"><%= menu.name %> <%if(menu.childs.length){ %>
                              <span class="caret" ></span>

                            <% } %>
                          </a>
                          <% if(menu.childs.length){ %>
                          <ul class="dropdown-menu mega-dropdown-menu" style="float:left;">
                            <% menu.childs.forEach(function(childs){ %>
                                  <li><a href="kategori/<%= childs.slug %>"><span class="menu-caret"></span> <%= childs.name %> </a></li>
                            <% }) %>
                          </ul>
                          <% } %>


                      </li>
                      <% } %>
                      <% }) %>
                      <div class="logo hidden-xs " style="float: right; ">
                          <a href="javascript:void(0)"><img src="themes/bebefan/assets/img/destek.png" alt="bebefan" style="height: 52px;width: 220px;"/></a>
                      </div>
                    </ul>
                </div>

            </nav>
        </article>

   </section>
</header>
<!-- PRELOADER -->
<!--
 <div id="preloader">
    <div class='baby'>
        <div class='head'>
            <div class='eye'></div>
            <div class='cheek'></div>
            <div class='horn'></div>
        </div>
        <div class='back'>
            <div class='tail'></div>
            <div class='hand'></div>
            <div class='feet'></div>
            <div class='ass'></div>
        </div>
    </div>
</div>
-->
<!-- /PRELOADER -->
<!-- WRAPPER -->
