<% include includes/header.ejs %>
<% var parsedProducts = JSON.parse(products); var counter=0 %>
<% brands = JSON.parse(brands) %>
        <!-- Main Slider Start -->
<section id="main-slider" class="carousel slide main-slider style-1 light-bg" >
  <div class="carousel-inner slider">
      <% siteSettings.sliders.forEach(function(slider){ %>
      <div class="item<%if(counter<1){ %> active<%}%>">
          <img class="slider-image-resize" src="<%=slider.image%>" alt=" ">
      </div>
      <% counter++ %>
      <%})%>
  </div>
  <!--Carousel Slide Button Start-->
  <div class="slider-pagination">
      <a class="left carousel-control slider-btn" href="#main-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
      </a>
      <a class="right carousel-control slider-btn" href="#main-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
      </a>
  </div>
</section>

<section id="banne-mobil" class="space-35"  style="margin-top:-30px;">
  <div class="container theme-container">
      <div class="row">
          <div class="col-md-12 col-sm-12 category-wrap" style="color:#FFF">
              <div class="light-bg " style="background-color:#FFF;">
                  <div class="category-content col-md-12 no-padding banner">
                        <img src="themes/bebefan/assets/img/mobil_banner.svg" alt="" style=" margin-right: auto; margin-left: auto; display: block; width: 100%;">
                  </div>
              </div>
          </div>
          <div class="col-md-12 col-sm-12 category-wrap" style="color:#FFF; margin-top:-30px;">
              <div class="light-bg " style="background-color:#FFF;">
                  <div class="category-content col-md-12 no-padding banner">
            			     <a href="https://api.whatsapp.com/send?phone=9005302086518" target="_blank"> <img src="themes/bebefan/assets/img/mobil_whatsapp_siparis.svg" alt="" style=" margin-right: auto; margin-left: auto; display: block; width: 100%;"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="banner" class="space-35">
  <div class="container theme-container">
      <div class="row">
          <div class="col-md-3 col-sm-4 category-wrap">
              <div class="light-bg " >
                  <div class="category-content col-md-12 no-padding banner">
            					 <img src="themes/bebefan/assets/img/kargo_bedava.svg" alt="">
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 category-wrap">
              <div class="light-bg " >
                  <div class="category-content col-md-12 no-padding banner">
            					<img src="themes/bebefan/assets/img/iade_degisim.svg" alt="">

                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 category-wrap">
              <div class="light-bg " >
                  <div class="category-content col-md-12 no-padding banner">
                    <img src="themes/bebefan/assets/img/kapida_odeme.svg" alt="">
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 category-wrap">
              <div class="light-bg " >
                  <div class="category-content col-md-12 no-padding banner">
                  <img src="themes/bebefan/assets/img/guvenli_alisveris.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
        <!-- Category Start -->
<section id="category" class="space-35" style="margin-top:-40px; margin-bottom:-25px;">
  <div class="container theme-container">
      <div class="row">
          <% var count= 0 %>
          <% siteCategories.forEach(function(category){ %>
          <% if(category.show_type == 1){ %>


                <div class="col-md-4 col-sm-4 category-wrap" style="margin-bottom:30px;">
                  <a href="kategori/<%=category.slug%>" title="">
                    <img class="light-bg pink-border" src="<%=category.image %>">

                            <div class="category-shop" style="">
                                <a href="kategori/<%=category.slug%>" class="pink-btn-small btn" style="background-color:#82d5fd;"> <%=category.name%> </a>
                            </div>


                  </a>
                </div>
          <%}})%>
      </div>
  </div>
</section>
        <!-- / Category Ends -->
        <!-- Product Most Popular Start -->
<section id="product-tabination-1" class="space-bottom-45">
  <div class="container theme-container">
      <div class="light-bg product-tabination">
          <div class="tabination">

              <div class="product-tabs" role="tabpanel">
                  <!-- Nav tabs -->
                  <ul role="tablist" class="nav nav-tabs navtab-horizontal">
                      <li role="presentation" class="" style="float:inherit; text-align:center;">
                          <a class="golden-background" >VİTRİNDEKİLER </a>
                      </li>

                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">

                    <div id="showroom" class="tab-pane fade active in" role="tabpanel">
                         <div class="row">
                           <% JSON.parse(showcase).forEach(function(product){
                              if(product.show_type == 1){
                            %>

                             <div class="col-md-3 col-sm-3 col-xs-6 grid-box" >
                                 <% include product/single.ejs %>
                             </div>
                            <% }}) %>
                         </div>
                     </div>
                      <!-- =============================== Most Popular ============================= -->

                      <!-- ====================== Best Sellers ======================== -->

                      <!-- ====================== Latest Items ======================== -->



                  </div>
              </div>
              </div>

              <div class="tabination">

              <div class="product-tabs" role="tabpanel">
                  <!-- Nav tabs -->
                  <ul role="tablist" class="nav nav-tabs navtab-horizontal" style="margin-top:15px;">

                      <li role="presentation" class="" style="float:inherit; text-align:center;">
                          <a  class="blue-background" >YENİ ÜRÜNLER</a>
                      </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">

                                        <!-- =============================== Most Popular ============================= -->

                      <!-- ====================== Best Sellers ======================== -->

                      <!-- ====================== Latest Items ======================== -->
                      <div id="latest-items" class="tab-pane fade  active in" role="tabpanel">
                           <div class="row">
                             <% JSON.parse(products).forEach(function(product){%>
                               <div class="col-md-3 col-sm-3 col-xs-6 grid-box" >
                                   <% include product/single.ejs %>
                               </div>
                               <%})%>
                           </div>
                       </div>


                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
        <!-- / Product Most Popular Ends -->


        <!-- Special Offers Start -->
      <% if(discounts){
        var discount = JSON.parse(discounts);
        var product = discount.products[0];
        var end = discount.end_date;
        var b=end.slice(0,10);
        var c=b.split('-');
        var e=c[Symbol.iterator]();
        %>
<section id="special-offers" class="space-35">
  <div class="light-bg">
      <div class="special-offers-bgdd">
          <div class="container theme-container">
              <div class="special-offers-wrap">
                  <div class="row">
                      <div class="box-img-wrap">
                          <img class="discount-image-alone" src="<%= product.images[0].url %>" alt="<%= product.name %>">
                      </div>
                      <div class="col-md-6 col-md-offset-3 space-40">
                          <div class="title-wrap with-border space-35">
                              <h2 class="section-title with-border">
              									<span class="light-bg">
              										<span class="funky-font blue-tag">ÖZEL İNDİRİM </span>
              									</span>
                              </h2>
                              <h3 class=""></h3>
                              <hr class="dash-divider">
                          </div>
                          <div class="counter-wrap text-center">
                              <h2 class="section-title">
              									<span>
                                  <%= product.name %>
              									</span>
                              </h2>
                              <div class="countdown-wrapper">
                                  <div id="dealCountdown3" class="defaultCountdown clearfix"></div>
                              </div>
                              <a class="blue-btn btn special-offers-detail-button" href="/urun/<%= product.slug %>-<%=product.id%>"> İncele!<i class="fa fa-caret-right" ></i></a>
                              <input type="hidden" id="year" name="year" value="<%= e.next().value %>">
                              <input type="hidden" id="month" name="month" value="<%= e.next().value %>">
                              <input type="hidden" id="day" name="day" value="<%= e.next().value %>">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<% } %>
        <!-- / Special Offers Ends -->
        <!-- Brands Slider Start -->
<%if(brands.length > 0){%>
<section id="brands-slider" class="space-35">
  <div class="container theme-container">
      <div class="title-wrap with-border">
          <h2 class="section-title with-border">
  				<span class="white-bg">
  					<span class="funky-font blue-tag">en iyi markalar</span>
  				</span>
          </h2>
          <h3 class="">marka ve bağlı kuruluşlar</h3>
          <hr class="dash-divider">
      </div>
      <div class="brands-slider light-bg default-box-shadow">
          <div id="brands-carousel-slider" class="owl-carousel">
              <% brands.forEach(function(brand){%>
              <div class="item">
                  <a href="javascript:void(0)">
                      <img src="<%=brand.image%>" alt="<%=brand.name%>">
                  </a>
              </div>
              <%})%>
          </div>
          <div class="slider-links">
              <a data-slide="prev" class="prev slider-btn">
                  <i class="fa fa-angle-left"></i>
              </a>
              <a data-slide="next"  class="next slider-btn">
                  <i class="fa fa-angle-right"></i>
              </a>
          </div>
      </div>
  </div>
</section>
<%}%>
        <!-- / Brands Slider Ends -->

<% include includes/footer.ejs %>
