<% include ../includes/header.ejs %>
        <!-- Breadcrumbs Start -->
<section class="breadcrumb-bg margin-bottom-80">
<span class="gray-color-mask color-mask"></span>

</section>
        <!-- / Breadcrumbs Ends -->

<article  class="container theme-container">
  <section class="product-category">
    <div class="row" id="products">
        <!-- Sidebar Start -->

        <aside class="col-md-3 col-sm-4">

            <div class="sidebar-widget light-bg default-box-shadow">
                <h4 class="widget-title pink-bg"> <span> Bedene Göre</span> </h4>
                <div class="widget-content">
                    <ul class="pink-scroll" id="pink-scroll">
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="0-3 AY"> <span>0-3 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="3-6 AY"> <span>3-6 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="6-9 AY"> <span>6-9 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="9-12 AY"> <span>9-12 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="12-18 AY"> <span>12-18 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="18-24 AY"> <span>18-24 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="24-36 AY"> <span>24-36 AY</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="1 YAŞ"> <span>1 YAŞ</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="2 YAŞ"> <span>2 YAŞ</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="3 YAŞ"> <span>3 YAŞ</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="4 YAŞ"> <span>4 YAŞ</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="5 YAŞ"> <span>5 YAŞ</span>  </input></label> </li>
                        <li><label class="checkbox-inline"><input name="beden" type="checkbox" value="6 YAŞ"> <span>6 YAŞ</span>  </input></label> </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- / Sidebar Ends -->
        <aside class="col-md-9 col-sm-8">
            <!-- Main Slider Start -->

            <!-- / Main Slider Ends -->

            <!-- Product Category Start -->
            <section id="product-category" class="space-bottom-45">
                <div class="light-bg margin-10 sorter">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="view-as col-md-5 col-sm-4">
                                <span>Görüntüle:</span>
                                <div class="inline-block">
                                    <ul class="nav-tabs tabination">
                                        <li class="active">
                                            <a data-toggle="tab" aria-expanded="true" class="sort" data-sort="name">
                                                <i class="fa fa-th-large"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" aria-expanded="false" class="sort" data-sort="name">
                                                <i class="fa fa-th-list"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="sort-by col-md-7 col-sm-8 no-padding">
                                <span>Sırala:</span>
                                <div class="inline-block">
                                    <form class="filter-form">
                                        <div class="form-group selectpicker-wrapper">
                                            <select class="selectpicker input-price" id="product-type" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Hepsi">
                                                <option value="">Hepsi</option>
                                                <option value="populer">En Popüler</option>
                                                <option value="yeni">Yeni Ürünler</option>
                                                <option value="encok">En Çok Satanlar</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">

                            <div class="page-by col-md-12 col-sm-12 text-right">
                                <span> </span>
                                <div class="inline-block">
                                    <div class="pagination-wrapper">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-tabs">
                    <div id="grid-view" class="tab-pane fade active in" role="tabpanel">
                        <div class="list row">

                            <%if(products) { products = JSON.parse(products)%>

                            <% for(var i = 0; i < products.length; i++){ %>
                              <div class="col-md-4 col-sm-4 col-xs-6 grid-box" data-product="<% if(products[i].option){ var ops = JSON.parse(products[i].option)  } %><%= ops %>" data-facilities="populer, yeni">
                                  <div class="product-details">
                                      <div class="product-media light-bg">
                                        <a href="urun/<%= products[i].slug%>-<%= products[i].id%>">
                                          <span class="hover-image light-bg">
                                              <img class="product-img-hover" src="<%= products[i].thumbnail %>" alt="<%= products[i].name %>">
                                          </span>
                                          <img alt="<%= products[i].name %>" src="<%= products[i].thumbnail %>" class="product-img">
                                        </a>
                                       <% if(products[i].price_discount){ %>
                                         <div class="product-discount">%<%=products[i].price_discount %></div>
                                       <%}%>
                                       <div class="product-overlay">
                                            <a class="addcart blue-background fa fa-shopping-cart" href="urun/<%= products[i].slug %>-<%=products[i].id %>"></a>
                                            <a class="likeitem green-background fa fa-heart" href="#"></a>
                                            <a class="preview pink-background fa fa-eye" href="urun/<%= products[i].slug%>-<%=products[i].id%>" data-toggle="modal"></a>
                                        </div>
                                      </div>
                                      <div class="product-content product-content-lapia">
                                        <div class="product-name product-name-lapia" style="text-align:center;">
                                            <p>
                                                <a href="urun/<%= products[i].slug%>-<%= products[i].id%>" style="text-align: center; height:50px;" class="name">
                                                    <%= products[i].name %>
                                                </a>
                                            </p>
                                        </div>
                                        <% if(products[i].option){ %>
                                          <% var ops = JSON.parse(products[i].option) %>

                                          <% Object.keys(ops).forEach(function (key){ %>
                                                <div type="hidden" class="list--list-item" data-beden="<%= ops[key] %>"></div>
                                        <%  }) %>

                                        <% } %>

                                          <div class="product-price product-price-text">
                                           <% if(products[i].price_discount) {%>
                                           <div class="showcasePrice" style="text-align:center;">
                                               <div class="showcasePriceOne">
                                                   <a class="blue-color title-link" >
                                                       <%= products[i].price_after_discount %>
                                                       <%- siteSettings.settings_currency %>
                                                   </a>
                                               </div>
                                               <div class="showcasePriceTwo">
                                                   <%= products[i].price_sale %>
                                                   <%- siteSettings.settings_currency %>
                                               </div>
                                           </div>
                                           <%}else{ %>
                                           <div class="showcasePrice" style="text-align:center;">
                                               <div class="showcasePriceOne">
                                                   <a class="blue-color title-link" >
                                                       <%= products[i].price_sale %>
                                                       <%- siteSettings.settings_currency %>
                                                   </a>
                                               </div>
                                           </div>
                                           <%}%>
                                         </div>
                                         <% if(products[i].quantity <= 0){ %>
                                             <img src="themes/bebefan/assets/img/tukendi.png" style="position: absolute; top: 1%; left: 30%;" />
                                           <div style="margin-top:5px">

                                               <a class="green-color title-link" style="text-align: center; color:red;"> TÜKENDİ </a>
                                           </div>
                                         <% }else{ %>
                                         <div style="margin-top:5px">
                                             <a class="blue-color title-link product-new-button" href="urun/<%= products[i].slug %>-<%=products[i].id %>" style="text-align: center;"> ÜRÜN İNCELE <i class="fa fa-caret-right"></i> </a>
                                         </div>
                                         <% } %>
                                      </div>
                                  </div>
                              </div>
                            <% }} %>
                        </div>
                    </div>
                </div>
                <div class="light-bg sorter">
                    <div class="col-md-6 col-sm-12 show-items">
                        <!--<span>gösterilen içerik : 12 ile 24 total 152</span>-->
                    </div>
                    <div class="col-md-6 col-sm-12 bottom-pagination text-right">
                        <div class="inline-block">
                            <div class="pagination-wrapper">
                              <style>
                              .pagination{
                                margin:0;

                              }
                              .pagination-list > li.nxt, .pagination-list > li.prev{
                                background-color: #ccc;
                                    color: #fff;
                                    border-color: #ccc;
                                    padding: 0;
                                    vertical-align: top;
                              }
                              .pagination-list > li{
                                background-color: #f9f9f9;
                                border: 1px solid #e4e4e4;
                                border-radius: 50%;
                                display: inline-block;
                                height: 25px;
                                line-height: normal;
                                margin-right: 5px;
                                padding-top: 3px;
                                text-align: center;
                                width: 25px;

                              }
                              </style>
                              <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Product Category Ends -->
        </aside>
    </div>
</section>
</article>


<% include ../includes/footer.ejs %>
