<% include ../includes/header.ejs %>
<% var products_alike = JSON.parse(product).like_product %>
<% product =JSON.parse(product).product %>
<% if (product.option){ %>
<% var options =JSON.parse(product.option) %>
<% } %>


        <!-- Breadcrumbs Start -->
<section class="breadcrumb-bg margin-bottom-80" style="background-image:url(https://www.darboysanitary.com/wp-content/uploads/2016/08/background-cloud.jpg);">
  <span class="gray-color-mask color-mask"></span>
  <div class="theme-container container">
      <div class="site-breadcrumb relative-block space-75">
          <h2 class="section-title">
              <span>

              </span>
          </h2>

          <ol class="breadcrumb breadcrumb-menubar">
              <li>
                  <a href="/">Ana Sayfa</a>  &gt;
                <% product.categories.forEach(function(category){ %>
                  <a href="kategori/<%=category.slug%>"><%= category.name%></a>
                <% } )%>
                  <span class="blue-color"><%= product.name %></span>
              </li>
          </ol>
      </div>
  </div>
</section>

<article class="container theme-container">
  <!-- Single Products Start -->
  <section id="product-fullwidth" class="space-bottom-45">
      <div class="single-product-wrap">
          <div class="list-category-details">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="row">
                          <!-- Main Slider Start -->
                          <section id="main-slider" class="carousel slide main-slider" >
                              <!--Carousel Slide Button Start-->
                              <div class="slider-pagination col-md-3 col-sm-3  col-xs-3">
                                  <ul class="product-thumbnails">
                                      <% var counter = 0; product.images.forEach(function(image){
                                        var url = image.url;
                                        var new_url = url.split("?size=large");
                                        %>
                                      <li  data-slide-to="<%= counter %>" data-target="#main-slider" class="">
                                          <a href="#"><img class="img-responsive" alt="<%= product.name %>" src="<%=new_url[0] %>"></a>
                                      </li>
                                      <% counter++ %>
                                      <%})%>
                                </ul>
                              </div>
                              <div class="col-md-7 col-sm-7  col-xs-9">
                                  <div class="carousel-inner product-fullwidth light-bg slider">
                                      <% var counter = 0; product.images.forEach(function(image){ %>
                                      <div class="item <% if(counter == 0){ %> active <% } %>" >
                                          <img id="zoom_01" src="<%=image.url %>" alt="<%= product.name %>" data-zoom-image="<%=image.url %>">
                                      </div>
                                      <% counter++ %>
                                      <%})%>
                                  </div>
                              </div>
                          </section>
                          <!-- / Main Slider Ends -->
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="product-content">
                          <div class="product-name">
                              <a><%= product.name %></a>
                          </div>
                          <div class="product-price">
                            <% if(product.price_discount) {%>
                              <h4 class="" style="font-size:22px;"><%= product.price_after_discount %> <%-siteSettings.settings_currency%></h4>
                              <h4 class="" style="text-decoration-line:line-through; text-decoration-color:#000; color:red;"><%= product.price_sale %> <%-siteSettings.settings_currency%></h4>
                            <% }else{ %>
                              <%= product.price_sale %> <%- siteSettings.settings_currency %>
                            <% } %>

                          </div>

                          <div class="product-availability">
                              <ul class="stock-detail">
                                  <li>Stok durumu:
                                    <% if(product.quantity > 0){ %>
                                    <strong class="green-color"> <i class="fa fa-check-circle"></i> Stokta </strong>
                                    <% }else{ %>
                                      <strong class="pink-color"> <i class="fa fa-ban"></i> Tükendi </strong>
                                    <% } %>
                                    | </li>
                                  <li>Ürün kodu:<strong> #<%=product.id %> </strong> </li>
                              </ul>
                              <hr class="fullwidth-divider">
                          </div>
                          <% if (product.options){ %>
                          <div class="product-size">
                              <form class="product-form">
                                <% product.options.forEach(function(ops){ %>
                                  <div class="row">
                                      <div class="form-group selectpicker-wrapper">
                                          <label id="option-name-select" class="col-lg-4 col-xs-4"><%= ops.name %></label>
                                          <div class="col-lg-8 col-xs-8">
                                          <select onchange="$('#addBtn').attr('data-option',$(this).val())" title="Seçiniz" data-toggle="tooltip" data-width="100%"  class="form-control product-opt" required="required" name="<%=ops.name%>">
                                            <option value="">Seçiniz</option>
                                            <% var opsl = JSON.parse(ops.pivot.child_name); %>
                                            <% opsl.forEach(function(option){ %>
                                              <option><%= option %></option>
                                            <% }) %>

                                          </select>
                                        </div>
                                      </div>

                                  </div>
                                   <% }) %>
                              </form>
                            <!--  <div class="widget-colors">
                                  <span>Renk:</span>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="brown"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="light"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="dark"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="orange"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="blue"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="yellow"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="green"> <span></span></label>
                                  <label class="rcheckbox-inline"><input type="checkbox" value="" id="white"> <span></span></label>
                              </div>
                            -->
                              <hr class="fullwidth-divider">
                          </div>
                          <% } %>
                          <div class="product-discription">
                            <!--  <p><%= product.meta_description %></p> -->
                          </div>
                          <div class="add-to-cart detay-btn">
                              <a id="addBtn"
                              class="blue-btn btn btn-theme-lg"
                              href="javascript:void(0)"
                              <% if(product.quantity <= 0){ %>
                                disabled
                              <% } %>
                              data-id="<%= product.id %>"
                              data-minimum="<% if(product.discounts.length) { %> <%= product.discounts[0].minimum_cart %> <% } %>"
                              data-slug="<%= product.slug %>"
                                <% if(product.price_discount) {%>
                              data-price="<%= product.price_after_discount %>"
                                <%}else{ %>
                              data-price="<%= product.price_sale %>"
                                <%}%>
                              data-img="<% if(product.images.length) { %> <%= product.images[0].url %> <% } %>"
                              data-name="<%= product.name %>"
                              data-option-check="<% if (product.option){ %><%= product.option.length %><%}%>"
                              onclick="addToCart($(this))"> <i class="fa fa-shopping-cart white-color"></i> Sepete Ekle</a>

                              <a id="" class="blue-btn btn whatsapp-siparis mobil-hide" href="https://api.whatsapp.com/send?phone=905302086518&text=ID:<%= product.id %> ürünü satın almak istiyorum." > <i class="fa fa-whatsapp white-color"></i> WhatsApp Sipariş</a>
                              <a id="" class="pink-btn btn mobil-hide" href="tel:+905302086518" > <i class="fa fa-mobile white-color"></i> Telefonla Sipariş</a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Single Products Ends -->
  <!-- Single Products Description Start -->
  <section id="description-item">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <!-- Product Best Sellers Start -->
              <section id="single-product-tabination" class="space-bottom-45">
                  <div class="light-bg product-tabination default-box-shadow">
                      <div class="tabination">
                          <div class="product-tabs" role="tabpanel">
                              <!-- Nav tabs -->
                              <ul role="tablist" class="nav nav-tabs navtab-horizontal">
                                  <li  role="presentation" class="active">
                                      <a class="green-background" data-toggle="tab" role="tab"  href="#description" aria-expanded="true">Açıklama</a>
                                  </li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <!-- =============================== Description ============================= -->
                                  <div id="description" class="tab-pane fade active in" role="tabpanel">
                                      <div class="col-md-12 product-wrap">
                                          <div class="title-wrap">
                                              <h2 class="section-title">
                      													<span>

                      													</span>
                                              </h2>
                                          </div>
                                          <div class="product-disc space-bottom-35">
                                              <p><%- product.description -%></p>

                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- / Product Best Sellers Ends -->
          </div>

      </div>
  </section>
  <!-- Single Products Description Ends -->
  <!-- Related Products Start -->
  <section id="product-tabination-1" class="space-bottom-45">
      <div class="container theme-container">

          <div class="light-bg product-tabination">
              <div class="tabination">
                  <div class="product-tabs" role="tabpanel">
                      <!-- Nav tabs -->

                      <!-- Tab panes -->
                      <div class="tab-content">
                          <!-- ====================== Related Products ======================== -->
                          <div id="related-product" class="tab-pane fade active in" role="tabpanel">
                              <div class="col-md-12 product-wrap default-box-shadow">
                                  <div class="title-wrap">
                                      <h2 class="section-title">
                  											<span>
                  												<span class="funky-font blue-tag">Benzer Ürünler</span>
                  											</span>
                                      </h2>
                                      <div class="poroduct-pagination">
                                          <span class="product-slide blue-background next"> <i class="fa fa-chevron-left"></i> </span>
                                          <span class="product-slide blue-background prev"> <i class="fa fa-chevron-right"></i> </span>
                                      </div>
                                  </div>
                                  <div class="product-slider owl-carousel owl-theme">
                                      <% products_alike.forEach(function(item){ %>
                                      <div class="item">
                                          <div class="product-details">
                                              <div class="product-media">
                      													<span class="hover-image white-bg">
                      														<img class="product-img-hover" src="<%= item.thumbnail%>" alt="">
                      													</span>
                                                  <img src="<%= item.thumbnail%>" alt="product-img" class="product-img">
                                                  <div class="product-overlay">
                                                      <a class="addcart blue-background fa fa-shopping-cart"
                                                      href="/urun/<%=item.slug%>-<%=item.id%>"></a>
                                                      <a class="likeitem green-background fa fa-heart" href="#"></a>
                                                      <a href="/urun/<%=item.slug%>-<%=item.id%>" class="preview pink-background fa fa-eye" data-toggle="modal"></a>
                                                  </div>
                                              </div>
                                              <div class="product-content">

                                                <div class="product-name product-name-lapia" style="text-align:center;">
                                                    <p>
                                                        <a href="urun/<%= item.slug%>-<%= item.id%>" style="text-align: center;">
                                                            <%= item.name %>
                                                        </a>
                                                    </p>

                                                </div>
                                                  <div class="product-price">
                                                   <% if(item.price_discount) {%>
                                                   <div class="showcasePrice" style="text-align:center;">
                                                       <div class="showcasePriceOne">
                                                           <a class="blue-color title-link" style="font-size:20px;">
                                                               <%= item.price_after_discount %>
                                                               <%- siteSettings.settings_currency %>
                                                           </a>
                                                       </div>
                                                       <div class="showcasePriceTwo">
                                                           <%= item.price %>
                                                               <%- siteSettings.settings_currency %>
                                                       </div>
                                                   </div>
                                                   <%}else{ %>
                                                   <div class="showcasePrice" style="text-align:center;">
                                                       <div class="showcasePriceOne">
                                                           <a class="blue-color title-link" style="font-size:20px;">
                                                               <%= item.price_sale %>
                                                                   <%- siteSettings.settings_currency %>
                                                           </a>
                                                       </div>
                                                   </div>
                                                   <%}%>
                                                 </div>
                                                 <div style="margin-top:5px">
                                                       <a class="blue-color title-link" href="/urun/<%=item.slug%>-<%=item.id%>" style="text-align: center;"> ÜRÜN DETAY <i class="fa fa-caret-right"></i> </a>

                                                 </div>
                                              </div>
                                          </div>
                                      </div>

                                      <% }) %>



                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- / Related Products Ends -->
</article>

<% include ../includes/footer.ejs %>
