<div class="product-details">
    <div class="product-media light-bg">
      <a href="urun/<%= product.slug%>-<%= product.id%>">
        <% if(product.thumbnail){ %>
        <span class="hover-image light-bg">
            <img class="product-img-hover" src="<%= product.thumbnail %>" alt="<%= product.name %>">
        </span>
        <img alt="<%= product.name %>" src="<%= product.thumbnail %>" class="product-img">
        <% }else{ %>
          <span class="hover-image light-bg">
              <img class="product-img-hover" src="https://lapia.net/store/34/products/phawgeyAkSMrUvkAsXUPTrddTlnVgsSqfgla.jpg?size=small" alt="<%= product.name %>">
          </span>
          <img alt="<%= product.name %>" src="https://lapia.net/store/34/products/phawgeyAkSMrUvkAsXUPTrddTlnVgsSqfgla.jpg?size=small" class="product-img">
          <% } %>
      </a>
     <% if(product.price_discount){ %>
       <div class="product-discount">%<%=product.price_discount %></div>
     <%}%>
      <% if(product.quantity <= 0){ %>

       <% }else{ %>
         <div class="product-overlay">
              <a class="addcart blue-background fa fa-shopping-cart" href="urun/<%= product.slug %>-<%= product.id %>"></a>
              <a class="likeitem green-background fa fa-heart" href="#"></a>
              <a class="preview pink-background fa fa-eye" href="urun/<%= product.slug%>-<%=product.id%>" data-toggle="modal"></a>
          </div>
      <% } %>

    </div>
    <div class="product-content product-content-lapia">
      <div class="product-name product-name-lapia" style="text-align:center;">
          <p>
              <a href="urun/<%= product.slug%>-<%= product.id%>" style="text-align: center; height:50px;">
                  <%= product.name.substring(0, 30) %>
              </a><br>
              <% if(product.quantity <= 5 && product.quantity >=1){ %>
              <a href="javascript:void(0)" style="text-align: center; height:50px; color:red;">
                  TÜKENMEK ÜZERE
              </a>
              <% } %>
          </p>
      </div>
        <div class="product-price product-price-text">
         <% if(product.price_discount) {%>
         <div class="showcasePrice" style="text-align:center;">
             <div class="showcasePriceOne">
                 <a class="blue-color title-link" >
                     <%= product.price_after_discount %>
                     <%- siteSettings.settings_currency %>
                 </a>
             </div>
             <div class="showcasePriceTwo">
                 <%= product.price_sale %>
                 <%- siteSettings.settings_currency %>
             </div>
         </div>
         <%}else{ %>
         <div class="showcasePrice" style="text-align:center;">
             <div class="showcasePriceOne">
                 <a class="blue-color title-link" >
                     <%= product.price_sale %>
                     <%- siteSettings.settings_currency %>
                 </a>
             </div>
         </div>
         <%}%>
       </div>
         <% if(product.quantity <= 0){ %>
             <img src="themes/bebefan/assets/img/tukendi.png" class="tukenti-logo" />
           <div style="margin-top:5px">

               <a class="blue-btn-small btn title-link product-new-button" style="text-align: center; color:#000; background-color:#f50000;"> TÜKENDİ </a>
           </div>
         <% }else{ %>
           <div style="margin-top:5px">
               <a
               class="blue-btn-small btn title-link product-new-button" href="urun/<%= product.slug %>-<%= product.id %>" style="text-align: center;"> ÜRÜN İNCELE <i class="fa fa-caret-right"></i> </a>
           </div>
         <% } %>

    </div>
</div>
