<% include ../includes/header.ejs %>

<style>
  .funky-font{
    font-size:17px;
  }
  .btn-group>.btn:first-child{
    border: 1px solid #8a8787;
    border-radius: 2px;
  }
</style>
            <!-- Checkout  Start -->
            <section id="checkout" class="checkout-wrap">
                <div class="theme-container container">
                  <form action="/complete_order" method="post" class="">
                    <div class="row">
                      <div class="col-md-4">

                        <div class="row space-35">
                            <div class="col-md-12">
                              <% if(sesUser) { %>

                                  <div class="title-wrap space-bottom-25">
                                      <h2 class="section-title">
                                          <span>
                                              <span class="funky-font blue-tag">Hoşgeldin <%= sesUser.name %></span>
                                          </span>
                                      </h2>
                                  </div>

                              <% } else{ %>

                              <div class="title-wrap space-bottom-25">
                                  <h4 class="section-title">
                                      <span>
                                          <span class="funky-font blue-tag">Hesap İşlemleri</span>
                                      </span>
                                  </h4>
                              </div>
                              <ul class="payments-options payment_methods methods">
                                <li class="method_guest">
                                    <label id="user_method_guest" for="login_method_guest">
                                        <input id="login_method_guest" type="radio" class="input-radio" name="login_method" value="guest"  data-order_button_text="Proceed to PayPal" checked required/>
                                        Misafir olarak devam et
                                    </label><br>
                                </li>
                                    <li class="method_login">
                                        <label id="user_method_login" for="login_method_login">
                                            <input id="login_method_login" type="radio" class="input-radio" name="login_method" value="login"  data-order_button_text=""  required/>
                                            Giriş Yap
                                        </label><br>
                                        <div class="login_method_login-msg msg-box payment_box login_method_login" style="display:none;">
                                          <div class="row">
                                              <div class="col-sm-12 col-md-12">
                                                  <div class="">
                                                      <form method="post" action="/login">
                                                          <div class="form-group">
                                                              <input type="text"  class="form-control" placeholder="e-posta">

                                                          </div>
                                                          <div class="form-group">
                                                              <input type="password" class="form-control" placeholder="parola">

                                                          </div>
                                                          <div class="form-group">
                                                              <label class="chk-box"><input type="checkbox" name="optradio">oturumu açık bırak</label>
                                                              <label class="forgot-pwd">
                                                                  <a class="blue-color title-link" href="#">parolamı unuttum?</a>
                                                              </label>
                                                          </div>
                                                          <div class="form-group">
                                                              <button class="blue-btn btn" type="submit">Giriş Yap</button>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>

                                          </div>
                                        </div>
                                    </li>
                                    <li class="method_register">
                                        <label id="user_method_register" for="login_method_register">
                                            <input id="login_method_register" type="radio" class="input-radio" name="login_method" value="register"  data-order_button_text=""  required/>
                                            Kayıt Ol
                                        </label><br>
                                        <div class="login_method_register-msg msg-box payment_box login_method_register" style="display:none;">
                                          <div class="row">
                                              <div class="col-sm-12 col-md-12">
                                                  <div class="">

                                                      <form method="post" action="/register">
                                                          <div class="form-group">
                                                              <input type="text"  class="form-control" placeholder="Adınız"  >

                                                          </div>
                                                          <div class="form-group">
                                                              <input type="text"  class="form-control" placeholder="Soyadınız">

                                                          </div>
                                                          <div class="form-group">
                                                              <input type="text"  class="form-control" placeholder="Telefon numaranız">

                                                          </div>
                                                          <div class="form-group">
                                                              <input type="text"  class="form-control" placeholder="E-posta">

                                                          </div>
                                                          <div class="form-group">
                                                              <input type="password" class="form-control" placeholder="Parolanız">

                                                          </div>
                                                          <div class="form-group">
                                                              <label class="chk-box"><input type="checkbox" name="optradio" >Sözleşme şartları</label>

                                                          </div>
                                                          <div class="form-group">
                                                              <button class="blue-btn btn" type="submit">Kayıt Ol</button>
                                                          </div>
                                                          <div class="form-group">
                                                              <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                                          </div>
                                                          <div id="fb-root"></div>
                                                          <script>(function(d, s, id) {
                                                          var js, fjs = d.getElementsByTagName(s)[0];
                                                          if (d.getElementById(id)) return;
                                                          js = d.createElement(s); js.id = id;
                                                          js.src = 'https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.11&appId=1240823212600878';
                                                          fjs.parentNode.insertBefore(js, fjs);
                                                          }(document, 'script', 'facebook-jssdk'));</script>
                                                      </form>
                                                  </div>
                                              </div>

                                          </div>
                                        </div>
                                    </li>

                                </ul>
                                <% } %>
                            </div>
                            <div class="col-md-12">
                              <div class="title-wrap space-bottom-25">
                                  <h2 class="section-title">
                                      <span>
                                          <span class="funky-font blue-tag"> Ödeme Şekli  </span>
                                      </span>
                                  </h2>
                              </div>
                              <ul class="payments-options payment_methods methods">
                                  <li class="direct-payment_method_bank">
                                      <label id="method_bank" for="payment_method_bank">
                                          <input id="payment_method_bank" data-price="8" type="radio" class="input-radio" name="payment_method" value="method_bank" data-order_button_text="" required>
                                          Banka Havalesi İle Ödeme
                                      </label><br>

                                  </li>
                                  <li class="payment_method_kapida">
                                      <label id="method_kapida" for="payment_method_kapida">
                                          <input id="payment_method_kapida" type="radio" class="input-radio" name="payment_method" value="method_kapida" data-order_button_text="" required>
                                          Kapıda Ödeme (Nakit)
                                      </label><br>
                                  </li>
                                  <li class="payment_method_kapida-kk">
                                      <label id="method_kapida-kk" for="payment_method_kapida-kk">
                                          <input id="payment_method_kapida-kk" type="radio" class="input-radio" name="payment_method" value="method_kapida-kk" data-order_button_text="" required>
                                          Kapıda Ödeme Kredi Kartı (Tek Çekim)
                                      </label><br>
                                  </li>
                                  <li class="payment_method_cheque">
                                      <label id="method_cart" for="payment_method_card">
                                          <input disabled id="payment_method_card" type="radio" class="input-radio" name="payment_method" value="method_cart" data-order_button_text="" required>
                                          Kredi Kartı
                                      </label><br>
                                  </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row space-15">
                          <div class="col-md-12">
                            <div class="row space-35">
                              <div class="col-md-12 col-sm-12">
                                <div class="title-wrap space-bottom-25">
                                    <h2 class="section-title">
                                        <span>
                                            <span class="funky-font blue-tag"> Teslimat Bilgileri </span>
                                        </span>
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" placeholder="İsim" name="name" required <% if(sesUser){ %> value="<%=sesUser.name%>" <% } %>></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" placeholder="Soyisim" name="surname" required <% if(sesUser){ %> value="<%=sesUser.surname%>" <% } %>></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" placeholder="Email" name="email" required <% if(sesUser){ %> value="<%=sesUser.email%>" <% } %>></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="number" placeholder="Telefon" name="mobil" required="required" minlength="11" maxlength="11" <% if(sesUser){ %> value="<%=sesUser.mobil%>" <% } %>></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group selectpicker-wrapper">
                                            <select class="form-control" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Şehir" name="county" required="required">
                                                <option value="">İl Seçiniz</option>
                                                <% county = JSON.parse(county); %>
                                                <% county.forEach(function(sehir){ %>
                                                  <option value="<%= sehir.id %>"><%= sehir.name %></option>
                                                <%})%>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><input class="form-control" type="text" placeholder="İlçe" name="district" required></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"><textarea class="form-control" type="text" placeholder="Açık adres" name="address" required></textarea></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row space-35">
                            <div class="col-md-12 col-sm-12">
                              <div class="title-wrap ">
                                  <h3 class="section-title">
                                      <span>
                                          <span class="funky-font blue-tag">Sipariş Listesi</span>
                                      </span>
                                  </h3>
                              </div>
                                <div class="light-bg default-box-shadow">
                                  <style>
                                  form{
                                  }
                                  .product-table td{
                                    padding:10px;
                                  }
                                  .product-table th, tr, td > a, p{
                                    font-size:14px;
                                  }
                                  .product-table .total{
                                      font-size:14px;
                                  }
                                  .description{
                                      font-size:14px;
                                  }
                                  </style>
                                    <form class="cart-form">
                                        <table class="" style="font-size:13px; margin-top:25px;">
                                            <thead>
                                                <tr>
                                                  <th >Resim</th>
                                                  <th >Ürün</th>
                                                  <th >Adet</th>
                                                  <th >Fiyat</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <% var total = 0 %>
                                              <%if(sesCart) { %>
                                              <% sesCart.forEach(function(item){ %>
                                              <tr>
                                                  <td class="image">
                                                      <div class="white-bg cart-img">
                                                          <a class="media-link" href="urun/<%= item.slug %>-<%= item.id %>"><img src="<%= item.img %>" alt="" style="max-height: 75px !important;"></a>
                                                      </div>
                                                  </td>
                                                  <td class="description" >
                                                      <a class="title" href="#" style="font-size:12px;"><%= item.name %></a>
                                                      <p   style="font-size:10px;">Beden : <%= item.option%></p>
                                                      <a href="/remove-from-cart/<%=item.id%>"  style="font-size:10px;" class="remove pink-color"><i class="fa fa-times"></i> Kaldır </a>
                                                  </td>
                                                  <td class="quantity">
                                                      <div class="quantity buttons-add-minus"  style="font-size:12px;">
                                                          <%= item.quantity %>
                                                      </div>
                                                  </td>
                                                  <td class="total"  style="font-size:12px;"> <%= (item.price * item.quantity).toFixed(2) %> <%- siteSettings.settings_currency %> </td>
                                              </tr>
                                              <% total += item.price * item.quantity %>
                                              <% }) %>
                                              <% }else{ %>
                                              <span class="text-danger">Gösterilecek Ürün Bulunmamakta</span>
                                              <% } %>
                                            </tbody>
                                        </table>
                                        <div class="continue-shopping">

                                            <div class="cart-sub-total">
                                                <span>Ara Toplam:</span>
                                                <strong class="pink-color"><%=total.toFixed(2) %> <%- siteSettings.settings_currency %></strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <div class="light-bg default-box-shadow cart_totals_wrap">
                                  <div class="cart_totals_box">


                                  <table class="cart_totals">
                                      <tbody>
                                        <tr>
                                          <th>Ara Toplam:</th>
                                          <td><strong id="ara_total"><%=total.toFixed(2) %></strong> <%- siteSettings.settings_currency %></td>
                                        </tr>
                                        <tr>
                                            <th>Kargo Ücreti :</th>
                                            <td>
                                              <strong id="shipping-price">0 </strong> <%- siteSettings.settings_currency %>
                                              <input id="shipping-price-post" type="hidden" name="shipping_total" value="0">
                                            </td>
                                        </tr>
                                      <!--  <tr class="cupon-off">
                                            <th>İndirim :</th>
                                            <td><strong class="blue-color">0</strong></td>
                                        </tr> -->
                                        <tr class="grand-total">
                                            <th>Genel Toplam :</th>
                                            <td>
                                              <strong class="pink-color" id="ara_genel_total"><%= total.toFixed(2) %></strong>
                                              <strong class="pink-color"><%- siteSettings.settings_currency %></strong>
                                              <input type="hidden" id="ara_genel_total_post" name="grand_total" value="<%= total.toFixed(2) %>">
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-12" style="list-style-type:none; margin-top:25px;">
                              <li class="direct-payment_method_bank">

                                  <div class="payment_method_bank_transfer-msg msg-box payment_box payment_method_bank" style="display:none;">
                                      Hesap Bilgileri :<br>
                                      BANKA HAVALESİ/EFT TALİMATLARI<br>
                              Lütfen belirtilen banka hesaplarına Sipariş Tuttarını yatırınız.<br>

                              NURAY BİNGÖLLÜ<br>

                              Kuveyt Türk: TR46 0020 5000 0100 6325 3000 01<br>

                              Siparişinizi verdikten sonra 2 iş günü içinde belirtilen hesap numaralarına havale yapılmadığı taktir de siparişiniz iptal olur.<br>
                                  </div>
                              </li>
                              <li class="payment_method_kapida">

                                  <div class="payment_method_kapida-msg msg-box payment_box payment_method_kapida" style="display:none;">
                                      Kapıda Ödeme İmkanı
                                  </div>
                              </li>
                              <li class="payment_method_kapida-kk">

                                  <div class="payment_method_kapida-msg-kk msg-box payment_box payment_method_kapida-kk" style="display:none;">
                                      Kapıda Kredi Kartı (Tek Çekim)
                                  </div>
                              </li>
                              <li class="payment_method_cheque">

                                  <div class="payment_method_card-msg msg-box payment_box payment_method_card" style="display:none;">
                                      Kredi kartı ile ödeme
                                  </div>
                              </li>
                            </div>
                            <div class="col-md-12" style="margin-top:25px;">
                                <textarea class="form-control" placeholder="Siparişiniz ile ilgili notunuz" name="message" cols="30" rows="7"></textarea>
                            </div>
                            <div class="col-md-12">
                              <div class="form-row place-order" style="margin-top:25px;">
                                  <a class="blue-btn btn" href="/">Alışverişe Devam Et</a>
                                  <label class="green-btn btn" >
                                      <input type="submit" class="button alt " name="woocommerce_checkout_place_order" id="place_order" value="Siparişi Tamamla" data-value="Siparişi Tamamla" />
                                  </label>
                              </div>
                            </div>
                        </div>


                      </div>
                    </div>
                  </form>
                </div>
            </section>
            <!-- / Checkout  Ends -->

<% include ../includes/footer.ejs %>
