<% include ../includes/header.ejs %>
<% if(sesCart){ %>
<section id="shopping-cart" class="shopping-cart-wrap">
<div class="theme-container container">
    <div class="light-bg default-box-shadow table-responsive">
        <form class="cart-form">
            <table class="product-table table">
                <thead style="color:#000;">
                <tr>
                    <th>RESİM</th>
                    <th>ÜRÜN</th>
                    <th>ADET</th>
                    <th>FİYAT</th>
                </tr>
                </thead>
                <tbody>
                <% var total = 0 %>
                <% var max   = 0 %>
                <% sesCart.forEach(function(item) { %>
                <% var limit = item.minimum %>
                <% max = Math.max(limit) %>
                <% total += item.price * item.quantity %>

                <tr id="<%= item.id %>">
                    <td class="image">
                        <div class="white-bg cart-img">
                            <a class="media-link" href="urun/<%= item.slug %>-<%= item.id%>"><img src="<%= item.img %>" alt="" style="height:80px; max-width:80px;"></a>
                        </div>
                    </td>
                    <td class="description">
                        <a href="#"><%= item.name %></a>
                        <p>Beden : <%= item.option%></p>
                        <a href="/remove-from-cart/<%=item.id%>" class="remove pink-color" style="width: 70px;"><i class="fa fa-times"></i> Kaldır </a>
                    </td>
                    <td class="quantity cart-item-quantity">
                        <div class="quantity buttons-add-minus">
                            <button type="button"  class="minus" onclick="calculate($(this))">-</button>
                            <input type="text" class="input-text qty text cart-quantity" title="Qty" value="<%=item.quantity %>" name="cart" min="<%=item.quantity %>">
                            <button type="button" class="plus" value="+" onclick="calculate($(this))">+</button>
                        </div>
                    </td>
                    <td class="total"> <strong> <input type="hidden" id="price" value="<%=item.price %>"/><span class="price"><%=item.price %></span> <%- siteSettings.settings_currency %></strong> </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
            <input type="hidden" id="tot" class="tot" name="tot" value="<%=total.toFixed(2) %>"/>
            <input type="hidden" id="max" class="max" name="max" value="<%=max %>"/>
            <div class="continue-shopping">
                <div class="shp-btn">
                    <a class="blue-btn btn" href="/">Alışverişe Devam Et<i class="fa fa-caret-right"></i></a>
                </div>
                <div class="cart-sub-total">
                    <span>Genel Toplam:</span>
                    <strong class="pink-color" id="totalPrice" value="<%=total.toFixed(2) %>"><%=total.toFixed(2) %></strong> <%- siteSettings.settings_currency %>
                </div>
            </div>
        </form>
        <div class="col-md-6 col-md-offset-3">
            <div class="chk-out">
                <a href="/checkout_update" id="toCheckout" class="pink-btn btn">ALIŞVERİŞİ TAMAMLA</a>
            </div>
        </div>
    </div>

</div>
</section>
<script src="themes/bebefan/assets/js/shoppingcart.js"></script>
<% }%>

<% include ../includes/footer.ejs %>
