<% include ../includes/header.ejs %>

<section id="error-page" class="error-wrap light-bg space-80">
<div class="theme-container container">
    <div class="row space-40">
        <div class="col-md-4 col-sm-4 text-right">
            <h1 class="error-title funky-font">

            </h1>
        </div>
        <div class="col-md-8 col-sm-8 error-info">
            <div class="title-wrap">
                <h2 class="section-title">
                    <span>
                        <span class="funky-font blue-tag">SİPARİŞİNİZ BAŞARIYLA OLUŞTURULDU!</span>

                    </span>
                </h2>
                <hr class="dash-divider">
            </div>
            <div class="error-details order-success-text">
                <p style="color: #000;">
                  SİPARİŞİNİZ KARGOYA VERİLDİĞİNDE CEP TELEFONUNUZA SMS İLE BİLGİ VERİLECEKTİR.<br>
                  HER TÜRLÜ SORU VE ÖNERİNİZ İÇİN : <strong style="text-decoration:underline;">0 530 208 65 18</strong> bebefan.com Müşteri Destek Hattını arayabilirsiniz.<br>
                  Bizi tercih ettiğiniz için teşekkür ederiz.
                </p>
                <a class="blue-btn btn" href="/"><i class="fa fa-caret-left"></i> Anasayfa</a>
            </div>
        </div>
    </div>
</div>
</section>


<% include ../includes/footer.ejs %>
