<% include ../includes/header.ejs %>


        <!-- / Breadcrumbs Ends -->

        <!-- 404 Error  Start -->
<section id="error-page" class="error-wrap light-bg space-80">
<div class="theme-container container">
    <div class="row space-40">
        <div class="col-md-6 col-sm-5 text-right">
            <h1 class="error-title funky-font">
                <span class="blue-color">o</span><span class="pink-color">0</span><span class="green-color">p</span><span class="golden-color">s</span><span class="purple-color">!</span>
            </h1>
        </div>
        <div class="col-md-6 col-sm-7 error-info">
            <div class="title-wrap">
                <h2 class="section-title">
                                    <span>
                                        <span class="funky-font blue-tag">Üzgünüz</span>
                                        <span class="italic-font"> Böyle Bir Sayfa Bulunmamaktadır. </span>
                                    </span>
                </h2>
                <h3 class="sub-title">404 Error :<span class="blue-color"> Page not found </span></h3>
                <hr class="dash-divider">
            </div>
            <div class="error-details">
                <p>
                    Ulaşmaya çalıştığınız sayfa sitemiz üzerinde yer almamaktadır.
                </p>
                <a class="blue-btn btn" href="/"><i class="fa fa-caret-left"></i> Anasayfa</a>
            </div>
        </div>
    </div>
</div>
</section>


<% include ../includes/footer.ejs %>