<div class="title-wrap  text-center space-bottom-25">
    <h2 class="section-title with-border">
        <span class="white-bg">
            <span class="funky-font pink-tag">Hesap Bilgileri</span>
        </span>
    </h2>
</div>
<div class="account-details-wrap">
    <div class="title-2 sub-title-small">  Hesap Bilgilerini Düzenle </div>
    <div class="account-box  light-bg default-box-shadow">
      <div class="login-wrap">
        <form action="/update_user" method="POST" class="form-delivery">
            <input type="hidden" name="id" value="<%=sesUser.id %>"/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="İsim" required="required" value="<%= sesUser.name %>" name="name">
                    <i class="blue-color fa fa-user"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Soyisim" required="required" value="<%= sesUser.surname %>" name="surname">
                    <i class="blue-color fa fa-user"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" required="required" value="<%= sesUser.email %>" name="email">
                    <i class="pink-color fa  fa-envelope"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Telefon" required="required" value="<%= sesUser.mobil %>" name="mobil">
                    <i class="pink-color fa  fa-phone"></i>
                </div>
                <div class="form-group">
                  <label class="pink-btn btn">
                      <input type="submit" value="Güncelle">
                  </label>
                </div>
            </form>
        </div>
    </div>
</div>
