<div class="col-md-12 col-sm-12 space-bottom-25" >
  <table class="product-table">
      <thead>
      <tr>
          <th>İsim</th>
          <th>İl</th>
          <th>İlçe</th>
          <th>P.Kodu</th>
          <th>Adres</th>
          <th></th>
      </tr>
      </thead>
      <tbody>
      <% customer.address.forEach(function(address){ %>
      <tr>
          <td class="name">
              <%= address.name %>
          </td>
          <td class="county">
              <%= address.county %>
          </td>
          <td class="district"> <%= address.district %> </td>
          <td class="zipcode"> <%= address.zipcode %> </td>
          <td class="address"> <%= address.address %> </td>

          <td class="order-status">
              <% if(address.type != 1){ %>
                <a href="/set_primary_address/<%=address.id%>" class="fa fa-hand-o-right" title="Birincil Adres Yap"></a>

              <% }else{ %>
              <%}%>
              <a class="fa fa-pencil" title="Düzenle" data-id="<%=address.id %>" href="javascript:void(0)" onclick="editAddress($(this))"></a>
              <a class="fa fa-trash" title="Düzenle" data-id="<%=address.id %>" href="/delete_address/<%=address.id%>" onclick="editAddress($(this))"></a>
              <!--<a class="green-btn btn edit-btn" data-id="<%=address.id %>" style="background-color: #80ea89 !important; box-shadow: 0px 2px #62b769 !important;" href="javascript:void(0)" onclick="editAddress($(this))">Düzenle</a> -->
              <!--<a class="green-btn btn red-btn" style="background-color: #ef8e8e !important; box-shadow: 0px 2px #d97c7c !important;" href="/delete_address/<%=address.id%>">Sil</a> -->
          </td>
      </tr>
      <% }) %>
      </tbody>
  </table>
</div>

<div class="account-details-wrap">
    <div class="title-wrap  text-center space-bottom-25" >
        <h2 class="section-title with-border">
            <span class="white-bg">
                <span class="funky-font pink-tag">Adres Bilgileri Düzenle</span>
            </span>
        </h2>
    </div>
    <div class="account-box  light-bg default-box-shadow">
        <form action="/update_address" method="post" class="form-delivery" id="address_form">

        <input type="hidden" name="address_id" >
        <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="Şehir" name="county" value=""></div>
        </div>
        <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="İlçe" name="district" value=""></div>
        </div>
        <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="Postcode/ZIP" name="zipcode" value=""></div>
        </div>
        <div class="col-md-12">
            <div class="form-group"><textarea class="form-control" placeholder="Adres" name="address" cols="30" rows="3"></textarea></div>
        </div>
        <div class="col-md-12 col-sm-12">
            <label class="pink-btn btn">
                <input type="submit" value="Güncelle">
            </label>
            <label class="green-btn btn">
                <input type="button" value="Ekle" onclick="addAddress()">
            </label>
        </div>
        </form>
    </div>
</div>
<script src="themes/bebefan/assets/js/address.js"></script>
