<div class="title-wrap  text-center space-bottom-25">
    <h2 class="section-title with-border">
        <span class="white-bg">
            <span class="funky-font pink-tag">Sipariş Geçmişi</span>
        </span>
    </h2>
</div>
<div class="account-details-wrap">
<div class="light-bg default-box-shadow">
    <table class="product-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fiyat</th>
            <th>Durum</th>
            <th>Tarih</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          <% customer.orders.forEach(function(order){ %>
        <tr>
            <td class="image"><a href="#">PIA-ORD.<%= order.id %></a></td>
            <td class="total"> <strong> <%= order.total %> TL</strong> </td>
            <td class="order-id"> Tamamlandı </td>
            <td class="diliver-date"> <%= order.created_at%> </td>
            <td class="order-status">
                <a class="blue-btn btn" href="">Detay</a>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</div>
