<div class="title-wrap  text-center space-bottom-25">
    <h2 class="section-title with-border">
        <span class="white-bg">
            <span class="funky-font pink-tag">Hesap Şifreniz</span>
        </span>
    </h2>
</div>
<div class="account-details-wrap">
<div class="title-2 sub-title-small">  Şifre değiştirme işlemi  </div>
<div class="account-box  light-bg default-box-shadow">
    <form action="/update_password" class="form-delivery" method="post">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group"><input class="form-control" type="password" placeholder="Yeni Şifre" name="password" required=""></div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group"><input class="form-control" type="password" placeholder="Şifre Tekrar" name="password_confirm" required=""></div>
            </div>
            <div class="col-md-12 col-sm-12">
                <label class="pink-btn btn">
                    <input type="submit" value="Güncelle">
                </label>
            </div>
        </div>
    </form>
</div>
</div>
