<div class="title-wrap  text-center space-bottom-25">
    <h2 class="section-title with-border">
        <span class="white-bg">
            <span class="funky-font pink-tag">Beğendiğiniz Ürünler</span>
        </span>
    </h2>
</div>
<div class="account-details-wrap">
<div class="light-bg default-box-shadow">
    <table class="product-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Resim</th>
            <th>Ürün adı</th>
            <th>Fiyat</th>
            <th>Tarih</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="image">
                <div class="white-bg cart-img">
                    <a href="#">PIA-ORD.1</a>
                </div>
            </td>
            <td class="image">
                <div class="white-bg cart-img">
                    <a class="media-link" href="#"><img src="assets/img/cart/cart-3.png" alt=""></a>
                </div>
            </td>
            <td class="total"> Deneme </td>
            <td class="total"> <strong> $200 </strong> </td>
            <td class="diliver-date"> 09-01-2018 </td>
            <td class="order-status">
                <a class="green-btn btn" href="">Çıkart</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
